# Logs
logs
storage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Others
.DS_Store
yarn.lock
embeddings_cache/*
embeddings/*
files/*
venv39
.vscode*
wsgi.py
.git
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_table__.json
__blobstorage__/AzuriteConfig
